<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.kenneycode.glkit.demo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SampleEGLBasicUsage"/>
        <activity android:name=".SampleBindEGLToSurfaceView"/>
        <activity android:name=".SampleBindEGLToTextureView"/>
        <activity android:name=".SampleEGLShareContext"/>
        <activity android:name=".SampleGLThreadBasicUsage"/>
        <activity android:name=".SampleBindGLThreadToSurfaceView"/>
        <activity android:name=".SampleBindGLThreadToTextureView"/>
        <activity android:name=".SampleGLThreadShareContext"/>
        <activity android:name=".SampleGLTextureView"/>
    </application>

</manifest>